.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.custom-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
}

.eye-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.input-valid {
  border: 2px solid #28a745 !important; /* verde */
  background-color: #f3fff5; /* opcional: um verdinho bem claro de fundo */
}